:root {
    --bg-color: #f7f7e5;
    --nav-color: #664e34;
    --nav-btn-color: #f5c69a;
    --nav-btn-border: #21170d;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}